# Backend (Java / Maven)
backend/target/
*.class

# Frontend (Angular / Node)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/package-lock.json

# IDE
.idea/
*.iml
.vscode/

# Sistema
.DS_Store
Thumbs.db