<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12 tocenter totop">
      <div class="card">
        <div class="card-body">
          <h3>{{ car.id ? 'Edit Car' : 'New Car' }}</h3>
          <br />

          <!-- Car Name -->
          <mdb-form-control>
            <input mdbInput type="text" id="carName" class="form-control" [(ngModel)]="car.name" />
            <label mdbLabel class="form-label" for="carName">Name</label>
          </mdb-form-control>

          <br />

          <!-- Model -->
          <mdb-form-control>
            <input mdbInput type="text" id="carModel" class="form-control" [(ngModel)]="car.model" />
            <label mdbLabel class="form-label" for="carModel">Model</label>
          </mdb-form-control>

          <br />

          <!-- Manufacture Year -->
          <mdb-form-control>
            <input
              mdbInput
              type="number"
              id="manufactureYear"
              class="form-control"
              [(ngModel)]="car.manufactureYear"
            />
            <label mdbLabel class="form-label" for="manufactureYear">Manufacture Year</label>
          </mdb-form-control>

          <br />

          <!-- Brand -->
          <mdb-form-control>
            <select
              mdbInput
              id="brand"
              class="form-control"
              [(ngModel)]="car.brand"
              [compareWith]="compareBrand"
            >
              <option [ngValue]="null">Select a Brand</option>
              <option *ngFor="let b of brands" [ngValue]="b">{{ b.name }}</option>
            </select>
            <label mdbLabel class="form-label" for="brand">Brand</label>
          </mdb-form-control>

          <br />

          <!-- Accessory -->
          <mdb-form-control>
            <select
              mdbInput
              id="accessory"
              class="form-control"
              [(ngModel)]="car.accessories"
              [compareWith]="compareAccessory"
            >
              <option [ngValue]="null">Select a Accessory</option>
              <option *ngFor="let a of accessories" [ngValue]="a">{{ a.name }}</option>
            </select>
            <label mdbLabel class="form-label" for="accessory">Accessory</label>
          </mdb-form-control>

          <br />

          <button type="button" class="btn btn-primary btn-rounded" mdRipple (click)="saveCar()">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
