<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Owners List</h3>

          <!-- ACTION: NEW -->
          <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-success btn-rounded" mdRipple (click)="new()">
              New
            </button>
          </div>

          <div class="table-responsive">
            <table border="1" class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Full Name</th>
                  <th>Date Of Birth</th>
                  <th>Driver's License</th>
                  <th class="actions-cell-header">Actions</th>
                </tr>
              </thead>

              <tbody>
                @for (owner of list; track owner.id) {
                <tr>
                  <td>{{ owner.id }}</td>
                  <td>{{ owner.fullName }}</td>
                  <td>{{ owner.dateOfBirth | date : 'dd/MM/yyyy' }}</td>
                  <td>{{ owner.driversLicense }}</td>

                  <!-- ACTIONS -->
                  <td class="actions-cell">
                    <!-- EDIT -->
                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      mdRipple
                      title="Edit"
                      (click)="edit(owner)"
                    >
                      <i class="fas fa-edit"></i>
                    </button>

                    <!-- DELETE -->
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      mdRipple
                      title="Delete"
                      (click)="deleteById(owner)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<ng-template #modalOwnersList>
  <div class="modal-header">
    <h5 class="modal-title">Add New Owner</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <app-owners-details [owner]="ownerEdit" (return)="returnDetails()"></app-owners-details>
  </div>
</ng-template>
