<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Owners List</h3>

          <div class="toright">
            <button type="button" class="btn btn-primary btn-rounded" mdRipple (click)="new()">
              New
            </button>
          </div>
          <br />

          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Date Of Birth</th>
                <th>Driver's License</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (owner of list; track owner.id) {
              <tr>
                <td>{{ owner.id }}</td>
                <td>{{ owner.fullName }}</td>
                <td>{{ owner.dateOfBirth | date:'dd/MM/yyyy' }}</td>
                <td>{{ owner.driversLicense }}</td>
                <td class="toright">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm me-2"
                    mdRipple
                    (click)="edit(owner)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-sm"
                    mdRipple
                    (click)="deleteById(owner)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalOwnersList>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add New Owner</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <app-owners-details [owner]="ownerEdit" (return)="returnDetails()"></app-owners-details>
  </div>
</ng-template>

