<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Cars List</h3>

          <div class="toright">
            <button type="button" class="btn btn-primary btn-rounded" mdRipple (click)="new()">
              New
            </button>
          </div>
          <br />

          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Model</th>
                <th>Manufacture Year</th>
                <th>Brand</th>
                <th>Owner</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              @for (car of list; track car.id) {
              <tr>
                <td>{{ car.id }}</td>
                <td>{{ car.name }}</td>
                <td>{{ car.model }}</td>
                <td>{{ car.manufactureYear }}</td>
                <td>{{ car.brand?.name }}</td>
                <td>
                  @if (car.owner) {
                    {{ car.owner.fullName }} <br />
                    <small>
                      DL: {{ car.owner.driversLicense }}
                    </small>
                  } @else {
                    <span class="text-muted">Unassigned</span>
                  }
                </td>

                <td class="toright">
                  <button
                    type="button"
                    class="btn btn-primary btn-rounded"
                    mdRipple
                    (click)="edit(car)"
                  >
                    Edit
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-rounded"
                    mdRipple
                    (click)="deleteById(car)"
                  >
                  Delete
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalCarsList>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add New Car</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <app-cars-details [car]="carEdit" (return)="returnDetails($event)"></app-cars-details>
  </div>
</ng-template>
