.navbar .nav-link.active {
  font-weight: 600;
  color: #fff;
}

.navbar-brand img {
  max-height: 48px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}

.welcome-btn {
  text-transform: none;
}

.btn-outline-secondary {
  transition: background-color 0.2s, color 0.2s;
  color: #ffffff;
}

.btn-outline-secondary:hover {
  background-color: #b44f59ff;
}
