.navbar .nav-link.active {
  font-weight: 600;
  color: #fff;
}

.navbar-brand img {
  max-height: 48px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
}

.welcome-btn {
  text-transform: none;
}

