<div class="login-page">
  <div class="login-card">
    <h3 class="login-title">Sign In</h3>

    <mdb-form-control class="mb-3">
      <input
        mdbInput
        type="text"
        id="user"
        class="form-control"
        name="username"
        [(ngModel)]="loginAttempt.username"
        (keyup.enter)="logon()"
      />
      <label mdbLabel class="form-label" for="user">Username</label>
    </mdb-form-control>

    <mdb-form-control class="mb-4">
      <input
        mdbInput
        type="password"
        id="password"
        class="form-control"
        name="password"
        [(ngModel)]="loginAttempt.password"
        (keyup.enter)="logon()"
      />
      <label mdbLabel class="form-label" for="password">Password</label>
    </mdb-form-control>

    <button type="button" class="btn btn-primary w-100 btn-login" mdRipple (click)="logon()">
      Log in
    </button>
  </div>
</div>
