<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>

    <div class="col-lg-4 tocenter totop">
      <div class="card">
        <div class="card-body">
          <h3>Sign In</h3>
          <br>
          <mdb-form-control>
            <input mdbInput type="text" id="user" class="form-control" [(ngModel)]="user" (keyup.enter)="logon()" />
            <label mdbLabel class="form-label" for="user">User</label>
          </mdb-form-control>
          <br />
          <mdb-form-control>
            <input mdbInput type="password" id="password" class="form-control" [(ngModel)]="password" (keyup.enter)="logon()" />
            <label mdbLabel class="form-label" for="password">Password</label>
          </mdb-form-control>
          <br />
          <button type="button" class="btn btn-primary btn-rounded" mdRipple (click)="logon()">Log On</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4"></div>
  </div>
</div>
