<br />
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Accessories List</h3>

          <!-- ACTION: NEW -->
          <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-success btn-rounded" mdRipple (click)="new()">
              New
            </button>
          </div>

          <div class="table-responsive">
            <table border="1" class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Name</th>
                  <th class="actions-cell-header">Actions</th>
                </tr>
              </thead>

              <tbody>
                @for (accessory of list; track accessory.id) {
                <tr>
                  <td>{{ accessory.id }}</td>
                  <td>{{ accessory.name }}</td>

                  <!-- ACTIONS -->
                  <td class="actions-cell">
                    <!-- EDIT -->
                    <button
                      type="button"
                      class="btn btn-primary btn-sm"
                      mdRipple
                      title="Edit"
                      (click)="edit(accessory)"
                    >
                      <i class="fas fa-edit"></i>
                    </button>

                    <!-- DELETE -->
                    <button
                      type="button"
                      class="btn btn-danger btn-sm"
                      mdRipple
                      title="Delete"
                      (click)="deleteById(accessory)"
                    >
                      <i class="fas fa-trash"></i>
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL -->
<ng-template #modalAccessoriesList>
  <div class="modal-header">
    <h5 class="modal-title">Add New Accessory</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>

  <div class="modal-body">
    <app-accessories-details
      [accessory]="accessoryEdit"
      (return)="returnDetails()"
    ></app-accessories-details>
  </div>
</ng-template>
