/* You can add global styles to this file, and also import other style files */

@use '@fortawesome/fontawesome-free/css/all.css';
@use 'mdb-angular-ui-kit/assets/scss/mdb.scss';

body {
  background-color: antiquewhite;
}

.tocenter {
  text-align: center;
}

.toright {
  text-align: right;
}

.btn-sm {
  min-width: 80px;
}

.me-2 {
  margin-right: 0.5rem;
}


.swal2-container {
  z-index: 9999 !important;
}
